mss==6.0.0
nbconvert==5.6.1
nbformat==5.0.7
nco==1.0.0
netCDF4==1.4.2
networkx==2.4
notebook==6.0.3
numba==0.48.0
numpy==1.18.1
oauthlib==3.1.0
openpyxl==3.0.3
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.2
pefile==2019.4.18
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
prometheus-client==0.8.0
prompt-toolkit==3.0.3
protobuf==3.12.2
psd-tools==1.9.10
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycopula==0.1.5
pygame==1.9.6
Pygments==2.6.1
PyInstaller==3.6
pylab==0.0.2
pyparsing==2.4.6
pypiwin32==223
pyproj==1.9.6
pyreadline==2.1
pyrsistent==0.16.0
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2019.3
pyusb==1.0.2
PyVISA==1.10.1
PyVISA-py==0.4.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.1
ratelim==0.1.6
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-image==0.16.2
scipy==1.4.1
Send2Trash==1.5.0
sh==1.13.1
singledispatch==3.4.0.3
six==1.14.0
soupsieve==2.0.1
tensorboard==2.1.1
tensorflow-gpu==2.1.0
tensorflow-gpu-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.3
tqdm==4.48.2
traitlets==4.3.3
traittypes==0.2.1
uritemplate==3.0.1
urllib3==1.25.9
virtualenv==20.0.26
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
xarray==0.15.1
xlrd==1.2.0
you-get==0.4.1432
zipp==3.1.0
